.section{
  /* background-color: var(--primary-color); */
  background-image: linear-gradient(var(--primary-color), var(--primary-color-medium));
  width: 100%;
}

.container {
  height: 450px;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  gap: 40px;
}

.text {
  width: 60%;
  margin-top: -70px;
}

.title {
  font-size: 40px;
  font-weight: 800;
}

.subtitle {
  font-size: 18px;
  margin-top: 20px;
}
