.Input {
  color: black;
  width: 100%;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  border-radius: var(--input-border-radius);
  border: 1px solid rgb(200, 200, 200);
  padding: 10px 20px;
  transition-duration: 0.3s;
}

.Input:focus-visible {
  outline: none;
  border: 1px solid var(--primary-color);
}

.Input::placeholder {
  color: rgb(150, 150, 150);
}
