.Label {
  width: 100%;
  overflow: hidden;
  font-size: 14.5px;
  padding: 0 0px;
  color: #0e9ff2;
  text-transform: uppercase;
  font-weight: 600;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: white;
}
