.serviceCard {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.serviceCard:nth-of-type(2) {
  flex-direction: row-reverse;
}

.serviceCard:last-of-type {
  margin-bottom: 0;
}

.serviceImg {
  width: 40%;
  background-color: white;
  height: 300px;
  border-radius: 10px;
}

.serviceText {
  width: 60%;
  padding: 40px 0;
  font-weight: 500;
}

.serviceText h4 {
  /* color: var(--primary-color); */
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
}
