.pill {
  color: white;
  padding: 5px 10px;
  border-radius: 100px;
  font-size: 13.5px;
  text-transform: uppercase;
  font-weight: 600;
}

.success {
  background-color: #4ade80; /* Soft green */
}

.danger {
  background-color: #f87171; /* Soft red */
}
