.Btn {
  background-color: var(--secondary-color);
  /* color: black; */
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 3px;
  transition-duration: 0.3s;
  font-weight: 600;
  text-transform: uppercase;
}

.Btn:hover {
  background-color: var(--secondary-color-dark);
}

.Btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Styles for the 'link' variant */
.Link {
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  padding: 0;
}

.Link:hover {
  color: var(--secondary-color-dark); /* Hover effect for link variant */
}
