@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap");

:root {
  /* --primary-color: #00796b; */
  /* --primary-color-light: #cce5e1; */
  --primary-color: #01579b;
  --primary-color-medium: #0178d5;
  --primary-color-light: #d7edff;
  --secondary-color: #ffb300;
  --secondary-color-dark: #cc8f00;
}

* {
  font-family: "Quicksand";
}

body {
  /* background-color: rgba(0, 121, 107, 0.05); */
  background-color: rgb(245, 245, 245);
}

p,
li {
  font-weight: 500;
}

h2 {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.bolder {
  font-weight: 900;
}

.primary {
  color: var(--primary-color);
}
